body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #6c6d6e, #c3cfe2);
  margin: 0;
  padding: 0;
}

button {
  padding: 8px 18px;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  background-color: #c7cace;
  color: rgb(153, 143, 143);
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

button:hover {
  background-color: #5e6061;
  transform: translateY(-2px);
}
